In [13]:
import pandas as pd

# Challenge 1
Find the most frequent words in a text file using sets.

In [8]:
my_text = "The sky was blue and clear. Birds chirped in the distance while leaves rustled softly in the wind. The calm morning brought peace, and the sunlight danced across the meadow."
list_of_words = my_text.replace(".","").replace(",","").replace("!","").replace("?", "").split(" ")
my_set = set(list_of_words)

In [9]:
list_of_words.count("the")

4

In [11]:
highest_frequency = 0
most_frequent_word = ""
for unique_word in my_set:
    freq = list_of_words.count(unique_word)
    if freq > highest_frequency:
        highest_frequency = freq
        most_frequent_word = unique_word
print(f"The most frequent word is '{most_frequent_word}' with a frequency of {highest_frequency}.")

The most frequent word is 'the' with a frequency of 4.

# Challenge 2
Create a dictionary mapping airport codes to locations

In [14]:
airports_df = pd.read_csv("airport_codes.csv")
airports_df

  Airport Code                                      Airport Name
0          LAX                 Los Angeles International Airport
1          JFK             John F. Kennedy International Airport
2          ORD                      O'Hare International Airport
3          ATL  Hartsfield-Jackson Atlanta International Airport
4          DFW           Dallas/Fort Worth International Airport
5          DEN                      Denver International Airport
6          SFO               San Francisco International Airport
7          SEA              Seattle-Tacoma International Airport
8          MIA                       Miami International Airport
9          BOS                Boston Logan International Airport

In [15]:
airport_dict = {}
for ind, row in airports_df.iterrows():
    airport_dict[row["Airport Code"]] = row["Airport Name"]

In [16]:
airport_dict

{'LAX': 'Los Angeles International Airport',
 'JFK': 'John F. Kennedy International Airport',
 'ORD': "O'Hare International Airport",
 'ATL': 'Hartsfield-Jackson Atlanta International Airport',
 'DFW': 'Dallas/Fort Worth International Airport',
 'DEN': 'Denver International Airport',
 'SFO': 'San Francisco International Airport',
 'SEA': 'Seattle-Tacoma International Airport',
 'MIA': 'Miami International Airport',
 'BOS': 'Boston Logan International Airport'}

# Challenge 
Time membership checks on dict vs list with a large dataset